<%= render partial: "navbar" %>
<section id="playlist__edit">
<h2>編集する</h2>

<%= form_with(model: @music, local: true) do |form| %>
  <%= form.text_field :body %><br>
  <%= form.text_field :youtube_url %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to '詳細へもどる', @music %>
</section>
