<p id="notice"><%= notice %></p>
<%# Navbar %>
<nav id="navbar" class="section">
  <div class="navbar__left">
    <div class="navbar__logo">
      <a href="#"><i class="fas fa-meteor"></i></a>
    </div>
    <h1 class="navbar__title">PLAYLIST</h1>
    <h3 class="navbar__description">プレイリスト一覧</h3>
  </div>
  <ul class="navbar__right">
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "投稿する", new_music_path, class: "post" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "post" %>
      <%= link_to "新規登録", new_user_registration_path, class: "post" %>
      <%= link_to 'New Music', new_music_path %>
    <% end %>
  </ul>
</nav>

<%# Playlist %>
<section id="playlist" class="section">
  <% @musics.each do |music| %>
    <iframe width="200" height="200" src="https://www.youtube.com/embed/<%=music.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
    <%= link_to 'Show', music %>
    <%= link_to 'Edit', edit_music_path(music) %>
    <%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</section>

<%# Contact %>
<section id="contact" class="section">
  <h2 class="contact__title">Contact</h2>
  <h3 class="contact__email">yonwan.b@gmail.com</h3>
  <div class="contact__links">
    <a href="#" target="_blank">
      <i class="fab fa-github"></i>
      <i class="fab fa-youtube"></i>
    </a>
  </div>
  <p class="contact__rights">
    2020, PlayList - All rights reserved
  </p>
</section>


