<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @music.body %>
</p>

<p>
  <strong>Youtube url:</strong>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @music.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>

<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
