<p id="notice"><%= notice %></p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @music.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>
  <strong>本文：</strong>
  <%= @music.body %>
</p>
<%= link_to '編集', edit_music_path(@music) %> |
<%= link_to '戻る', musics_path %>|
<%= link_to '削除', @music, method: :delete, data: { confirm: '本当に削除しますか？' } %>
